.logoImg {
    height: 25px;
    width: 15%;
    border-radius: 60%;
}

.userImg {
    height: 50px;
    width: 100%;
    border-radius: 50%;
}

.profile-div {
    display: flex;
}

.userIcon {
    height: 50px;
    width: 100%;
}

.blogs-link {
    text-decoration: none;
    color: white;
}

.headingLogOut,
.headingLogin {
    text-decoration: none;
    background-color: rgb(212, 48, 76) !important;
    border: none !important;

    color: white;

    height: 35px;
    margin-top: 22%;
    border-radius: 8px;


}

.logOutLink,
.logInLink {
    color: white;
    text-decoration: none;
}

.userImgDiv {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

/* Mobile Responsive */

@media screen and (max-width:791px) {
    .profile-div {
        display: grid !important;
        grid-template-columns: repeat(1, 1fr) !important;
    }

    .headingLogOut,
    .headingLogin {
        width: 17%;
        margin-bottom: 15%;
        margin-top: 0;


    }

    .logOutLink,
    .logInLink {
        color: white;
        text-decoration: none;
    }

    .userImg {
        width: 10%;
    }
}