.featuresDetailsLink {
    text-decoration: none;
    color: rgb(25, 15, 15) !important;
}

.names {
    padding: 0 0 0 5%;
}

.featuresDetailsLink:hover {
    color: rgb(212, 48, 76) !important;
}